[submodule "vendor/clw"]
	path = vendor/clw
	url = https://github.com/k0zmo/clw.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "vendor/kl"]
	path = vendor/kl
	url = https://github.com/k0zmo/kl.git
